<div class="row">
  <div class="hobbies">
    <div class="product lax">
<!--       <br> -->
<!--       <div class="col-md-4"> -->
      <figure >
        <h1 class="head">Lacrosse</h1>
        <figcaption>
          <section class="awSlider">
            <div  class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= image_tag "Lax.jpg", alt: "Lax", width: 350 %>
                  <div class="carousel-caption">FIL 18 - AUT vs. NED</div>
                </div>
                <div class="item">
                  <%= image_tag "LaxBerkeley.jpg", alt: "LaxBerkeley", width: 350 %>
                  <div class="carousel-caption">UC Berkeley, CAL</div>
                </div>
                <div class="item">
                  <%= image_tag "LaxEng.jpg", alt: "LaxEng", width: 380 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. ENG</div>
                </div>
                <div class="item">
                  <%= image_tag "LaxSchwed.jpg", alt: "LaxSchwed", width: 400 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. SWE</div>
                </div>
<!--                 <div class="item">
                  <%#= image_tag "Laxback.jpg", alt: "LaxSwitherland", width: 400 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. SUI</div>
                </div> -->
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<!--                 <span class="sr-only">Geri</span> -->
              </a>
              <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<!--                 <span class="sr-only">İleri</span> -->
              </a>
            </div>
          </section>
          <a href="https://www.facebook.com/derbarbar/videos/10156517299303607/">See our video from the 2018 FIL WORLD LACROSSE CHAMPIONSHIP in Israel</a>
        </figcaption>
      </figure>
<!--       </div> -->
    </div>
    <div class="product ski">
<!--       <br> -->
<!--       <div class="col-md-4"> -->
      <figure >
        <h1 class="head">Skiing</h1>
        <figcaption>
          <section class="awSlider">
            <div  class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <%= image_tag "Ski1.jpg", alt: "Ski1", width: 350 %>
                  <div class="carousel-caption">FIL 18 - AUT vs. NED</div>
                </div>
                <div class="item">
                  <%= image_tag "Ski2.jpg", alt: "Ski2", width: 350 %>
                  <div class="carousel-caption">UC Berkeley, CAL</div>
                </div>
                <div class="item">
                  <%= image_tag "Ski3.jpg", alt: "Ski3", width: 380 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. ENG</div>
                </div>
                <div class="item">
                  <%= image_tag "Ski4.jpg", alt: "Ski4", width: 400 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. SWE</div>
                </div>
<!--                 <div class="item">
                  <%#= image_tag "Laxback.jpg", alt: "LaxSwitherland", width: 400 %>
                  <div class="carousel-caption">EBLC 2017 - AUT vs. SUI</div>
                </div> -->
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<!--                 <span class="sr-only">Geri</span> -->
              </a>
              <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<!--                 <span class="sr-only">İleri</span> -->
              </a>
            </div>
          </section>
          <a href="https://www.youtube.com/watch?v=8yz3CNCKuT8">Parsenn Derby 2014</a>
        </figcaption>
      </figure>
<!--       </div> -->
    </div>
  </div>
</div>


